.Header {
    height: 4rem;
    padding: .5rem 0;

    position: sticky;
    top: 0;
    left: 0;

    #menu-hamburger {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        margin-left: 1rem;

        & > img {
            display: inline-block;
            height: 3rem;
            width: 3rem;
            padding: .5rem;
            vertical-align: middle;
        }
    }

    .Clock {
        float: right;
    }
}
